.solutions-section {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.solutions-section h2 {
  color: #2563eb;
  font-size: 2.25rem;
  margin-bottom: 0.1rem;
  font-weight: 700;
}

.solutions-section h4 {
  color: #090016;
  font-size: 1.13rem;
  margin-bottom: 2rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}



.solutions-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  
}

.solution-card {
  background-color: white;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgb(0 0 0 / 0.1);
  width: 220px; /* Largura fixa */
  height: 220px; /* Altura fixa */
  font-weight: 600;
  color: #090016;
  display: flex;
  flex-direction: column; /* Altera a direção para coluna */
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
  overflow: hidden; /* Garante que o conteúdo não ultrapasse o card */
}

.icon {
  margin-bottom: 1rem; /* Aumenta o espaçamento abaixo do ícone */
  color: #0d5aff;
}

.solution-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 15px rgb(0 0 0 / 0.2);
}

/* Ajuste das cartas de soluções para layout em coluna no mobile */
@media (max-width: 768px) {
  .solutions-cards {
    flex-direction: column;
    align-items: center;
  }

  .solution-card {
    max-width: 100%;
  }
}